# Á fazer
* Pré processamento para teste dos modelos

# Bibliotecas e leitura dos dados:

In [170]:
#importanto bibliotecas

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, preprocessing
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [174]:
test = pd.read_csv("test.csv")
test.shape

In [175]:
train = pd.read_csv("train.csv")
train.shape

MemoryError: Unable to allocate 1.68 GiB for an array with shape (68, 3311925) and data type int64

Hacker para trabalhar rapido com as colunas do dataset:

In [190]:
test=test.loc[0:1000,:]
train=train.loc[0:1000,:]

In [191]:
test.keys()

Index(['NU_INSCRICAO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA',
       'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       ...
       'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024',
       'Q025'],
      dtype='object', length=113)

Salvando coluna de inscriçao antes de dropar:

# Limpando dados:

In [192]:
out = test[['NU_INSCRICAO']]
out.head()

                           NU_INSCRICAO
0  5d5b362b-7388-4ac6-81b3-23573e4e2d3a
1  52356efd-3239-4cd2-a444-416625dfc560
2  1ba42e9a-dd61-4405-9b08-79b728ad23c9
3  16fa0f84-a88f-43e6-bcbb-8d5ea41e5f03
4  fa663d11-5052-4ab2-b771-3a3de3bdec55

Drop de colunas com pouca utilidada para a analise:

In [193]:
train_clean = train.drop(columns=['NU_INSCRICAO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA','CO_MUNICIPIO_NASCIMENTO','CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 
                   'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025'])

In [194]:
train_clean.keys()

Index(['CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO',
       'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO',
       'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO'],
      dtype='object')

In [195]:
train_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 80 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CO_UF_RESIDENCIA             6 non-null      int64
 1   NU_IDADE                     6 non-null      float64
 2   TP_SEXO                      6 non-null      object
 3   TP_ESTADO_CIVIL              6 non-null      int64
 4   TP_COR_RACA                  6 non-null      int64
 5   TP_NACIONALIDADE             6 non-null      int64
 6   CO_UF_NASCIMENTO             6 non-null      float64
 7   TP_ST_CONCLUSAO              6 non-null      int64
 8   TP_ANO_CONCLUIU              6 non-null      int64
 9   TP_ESCOLA                    6 non-null      int64
 10  TP_ENSINO                    3 non-null      float64
 11  IN_TREINEIRO                 6 non-null      int64
 12  CO_UF_ESC                    1 non-null      float64
 13  TP_DEPENDENCIA_ADM_ESC       1 non-null      float64
 14  TP_LOCALIZACAO_ESC           1 non-null      float64
 15  TP_SIT_FUNC_ESC              1 non-null      float64
 16  IN_BAIXA_VISAO               6 non-null      int64
 17  IN_CEGUEIRA                  6 non-null      int64
 18  IN_SURDEZ                    6 non-null      int64
 19  IN_DEFICIENCIA_AUDITIVA      6 non-null      int64
 20  IN_SURDO_CEGUEIRA            6 non-null      int64
 21  IN_DEFICIENCIA_FISICA        6 non-null      int64
 22  IN_DEFICIENCIA_MENTAL        6 non-null      int64
 23  IN_DEFICIT_ATENCAO           6 non-null      int64
 24  IN_DISLEXIA                  6 non-null      int64
 25  IN_DISCALCULIA               6 non-null      int64
 26  IN_AUTISMO                   6 non-null      int64
 27  IN_VISAO_MONOCULAR           6 non-null      int64
 28  IN_OUTRA_DEF                 6 non-null      int64
 29  IN_GESTANTE                  6 non-null      int64
 30  IN_LACTANTE                  6 non-null      int64
 31  IN_IDOSO                     6 non-null      int64
 32  IN_ESTUDA_CLASSE_HOSPITALAR  6 non-null      int64
 33  IN_SEM_RECURSO               6 non-null      int64
 34  IN_BRAILLE                   6 non-null      int64
 35  IN_AMPLIADA_24               6 non-null      int64
 36  IN_AMPLIADA_18               6 non-null      int64
 37  IN_LEDOR                     6 non-null      int64
 38  IN_ACESSO                    6 non-null      int64
 39  IN_TRANSCRICAO               6 non-null      int64
 40  IN_LIBRAS                    6 non-null      int64
 41  IN_TEMPO_ADICIONAL           6 non-null      int64
 42  IN_LEITURA_LABIAL            6 non-null      int64
 43  IN_MESA_CADEIRA_RODAS        6 non-null      int64
 44  IN_MESA_CADEIRA_SEPARADA     6 non-null      int64
 45  IN_APOIO_PERNA               6 non-null      int64
 46  IN_GUIA_INTERPRETE           6 non-null      int64
 47  IN_COMPUTADOR                6 non-null      int64
 48  IN_CADEIRA_ESPECIAL          6 non-null      int64
 49  IN_CADEIRA_CANHOTO           6 non-null      int64
 50  IN_CADEIRA_ACOLCHOADA        6 non-null      int64
 51  IN_PROVA_DEITADO             6 non-null      int64
 52  IN_MOBILIARIO_OBESO          6 non-null      int64
 53  IN_LAMINA_OVERLAY            6 non-null      int64
 54  IN_PROTETOR_AURICULAR        6 non-null      int64
 55  IN_MEDIDOR_GLICOSE           6 non-null      int64
 56  IN_MAQUINA_BRAILE            6 non-null      int64
 57  IN_SOROBAN                   6 non-null      int64
 58  IN_MARCA_PASSO               6 non-null      int64
 59  IN_SONDA                     6 non-null      int64
 60  IN_MEDICAMENTOS              6 non-null      int64
 61  IN_SALA_INDIVIDUAL           6 non-null      int64
 62  IN_SALA_ESPECIAL             6 non-null      int64
 63  IN_SALA_ACOMPANHANTE         6 non-null      int64
 64  IN_MOBILIARIO_ESPECIFICO     6 non-null      int64
 65  IN_MATERIAL_ESPECIFICO       6 non-null      int64
 66  IN_NOME_SOCIAL               6 non-null      int64
 67  CO_MUNICIPIO_PROVA           6 non-null      int64
 68  CO_UF_PROVA                  6 non-null      int64
 69  TP_PRESENCA_CN               6 non-null      int64
 70  TP_PRESENCA_CH               6 non-null      int64
 71  TP_PRESENCA_LC               6 non-null      int64
 72  TP_PRESENCA_MT               6 non-null      int64
 73  NU_NOTA_CN                   6 non-null      float64
 74  NU_NOTA_CH                   6 non-null      float64
 75  NU_NOTA_LC                   6 non-null      float64
 76  NU_NOTA_MT                   6 non-null      float64
 77  TP_LINGUA                    6 non-null      int64
 78  TP_STATUS_REDACAO            6 non-null      float64
 79  NU_NOTA_REDACAO              6 non-null      float64
dtypes: float64(13), int64(66), object(1)
memory usage: 3.9+ KB

In [196]:
test_clean = test.drop(columns=['NU_INSCRICAO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA','CO_MUNICIPIO_NASCIMENTO','CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 
                   'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025'])

In [197]:
test_clean.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,IN_MATERIAL_ESPECIFICO,IN_NOME_SOCIAL,CO_MUNICIPIO_PROVA,CO_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,TP_LINGUA,TP_STATUS_REDACAO
0,23,22.0,F,1,3,1,23.0,1,3,1,...,0,0,2305506,23,0,0,0,0,1,NaN
1,35,19.0,F,1,1,1,35.0,1,1,1,...,0,0,3548500,35,1,1,1,1,0,1.0
2,35,16.0,F,1,1,1,35.0,3,0,1,...,0,0,3552106,35,1,1,1,1,1,1.0
3,35,22.0,M,1,1,1,35.0,1,5,1,...,0,0,3541000,35,1,1,1,1,0,1.0
4,41,17.0,M,1,1,1,41.0,2,0,3,...,0,0,4106902,41,1,1,1,1,0,1.0

In [198]:
train_clean = pd.concat([train_clean, pd.get_dummies(train_clean['TP_SEXO'], drop_first=True)], axis=1)
train_clean = train_clean.drop(columns=['TP_SEXO'])

In [199]:
test_clean = pd.concat([test_clean, pd.get_dummies(test_clean['TP_SEXO'], drop_first=True)], axis=1)
test_clean = test_clean.drop(columns=['TP_SEXO'])

In [200]:
train_clean.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_REDACAO,M
0,11,31.0,0,1,1,32.0,1,10,1,1.0,...,1,1,426.5,487.4,530.9,415.3,1,1.0,680.0,0
1,31,23.0,1,3,1,31.0,1,3,1,NaN,...,1,1,463.0,452.3,456.6,407.2,0,1.0,520.0,0
2,31,17.0,0,3,1,31.0,2,0,2,1.0,...,1,1,381.7,474.4,530.6,622.8,0,1.0,600.0,1
3,25,16.0,1,1,1,25.0,3,0,1,NaN,...,1,1,426.7,343.9,444.2,507.0,1,1.0,660.0,1
4,23,19.0,1,1,1,23.0,1,1,1,NaN,...,1,1,623.7,609.1,637.1,805.3,0,1.0,840.0,1

Trabalhando os NaNs do dataset:

In [201]:
train_clean.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False)

                     index  Dados faltantes
11               CO_UF_ESC         0.833333
12  TP_DEPENDENCIA_ADM_ESC         0.833333
14         TP_SIT_FUNC_ESC         0.833333
13      TP_LOCALIZACAO_ESC         0.833333
9                TP_ENSINO         0.500000
..                     ...              ...
29             IN_LACTANTE         0.000000
28             IN_GESTANTE         0.000000
27            IN_OUTRA_DEF         0.000000
26      IN_VISAO_MONOCULAR         0.000000
79                       M         0.000000

[80 rows x 2 columns]

In [202]:
train_clean=train_clean.drop(columns=['CO_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_SIT_FUNC_ESC','TP_LOCALIZACAO_ESC','TP_ENSINO'])
test_clean=test_clean.drop(columns=['CO_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_SIT_FUNC_ESC','TP_LOCALIZACAO_ESC','TP_ENSINO'])

In [203]:
train_clean.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False)

                 index  Dados faltantes
0     CO_UF_RESIDENCIA              0.0
56    IN_SALA_ESPECIAL              0.0
54     IN_MEDICAMENTOS              0.0
53            IN_SONDA              0.0
52      IN_MARCA_PASSO              0.0
..                 ...              ...
24         IN_LACTANTE              0.0
23         IN_GESTANTE              0.0
22        IN_OUTRA_DEF              0.0
21  IN_VISAO_MONOCULAR              0.0
74                   M              0.0

[75 rows x 2 columns]

In [204]:
test_clean.isna().mean().reset_index(name="Dados faltantes").sort_values(by="Dados faltantes", ascending=False)

                    index  Dados faltantes
68      TP_STATUS_REDACAO         0.211788
5        CO_UF_NASCIMENTO         0.032967
0        CO_UF_RESIDENCIA         0.000000
44  IN_CADEIRA_ACOLCHOADA         0.000000
50      IN_MAQUINA_BRAILE         0.000000
..                    ...              ...
30         IN_AMPLIADA_18         0.000000
31               IN_LEDOR         0.000000
32              IN_ACESSO         0.000000
33         IN_TRANSCRICAO         0.000000
69                      M         0.000000

[70 rows x 2 columns]

In [119]:
#train_clean=train_clean.dropna()

In [205]:
#Separando as variáveis dependentes e independentes do nosso modelo
y1=train_clean.loc[:,'NU_NOTA_CN']
y2=train_clean.loc[:,'NU_NOTA_CH']
y3=train_clean.loc[:,'NU_NOTA_LC']
y4=train_clean.loc[:,'NU_NOTA_MT']
y5=train_clean.loc[:,'NU_NOTA_REDACAO']
train_clean = train_clean.drop(columns=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO'])

In [206]:
scaler=StandardScaler()
scaler.fit(train_clean)
train_scaled=scaler.transform(train_clean)
test_scaled=scaler.transform(test_clean)

In [207]:
X_train_scaled = pd.DataFrame(train_scaled, columns=train_clean.columns)

In [208]:
train_scaled.shape

(6, 70)

In [102]:
X_test_scaled = pd.DataFrame(test_scaled, columns=test_clean.columns)

In [103]:
X_test_scaled.head()

,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,IN_NOME_SOCIAL,CO_MUNICIPIO_PROVA,CO_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,TP_LINGUA,TP_STATUS_REDACAO,M
0,-0.123579,0.099504,0.707107,1.0,0.0,-1.054439,-0.654654,-0.132453,-0.447214,0.0,...,0.0,-0.128333,-0.123579,-1.0,-1.0,-1.0,-1.0,1.0,NaN,-1.0
1,1.655962,-0.497519,0.707107,-1.0,0.0,1.865546,-0.654654,-0.662266,-0.447214,0.0,...,0.0,1.692962,1.655962,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
2,1.655962,-1.094541,0.707107,-1.0,0.0,1.865546,1.963961,-0.927173,-0.447214,NaN,...,0.0,1.698246,1.655962,0.0,0.0,0.0,0.0,1.0,0.0,-1.0
3,1.655962,0.099504,0.707107,-1.0,0.0,1.865546,-0.654654,0.397360,-0.447214,0.0,...,0.0,1.681973,1.655962,0.0,0.0,0.0,0.0,-1.0,0.0,1.0
4,2.545733,-0.895533,0.707107,-1.0,0.0,3.325539,0.654654,-0.927173,4.919350,0.0,...,0.0,2.511160,2.545733,0.0,0.0,0.0,0.0,-1.0,0.0,1.0

In [209]:
X_train = sm.add_constant(X_train_scaled) 
model1 = sm.OLS(y1.astype(float), X_train.astype(float)).fit()
#model2 = sm.OLS(y2.astype(float), x.astype(float)).fit()
#model3 = sm.OLS(y3.astype(float), x.astype(float)).fit()
#model4 = sm.OLS(y4.astype(float), x.astype(float)).fit()
#model5 = sm.OLS(y5.astype(float), x.astype(float)).fit()

In [210]:
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             NU_NOTA_CN   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Sat, 05 Feb 2022   Prob (F-statistic):                nan
Time:                        12:42:27   Log-Likelihood:                 165.23
No. Observations:                   6   AIC:                            -318.5
Df Residuals:                       0   BIC:                            -319.7
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                         467.1833        inf          0        nan         nan         nan
CO_UF_RESIDENCIA               -5.7490        inf         -0        nan         nan         nan
NU_IDADE                       -5.0856        inf         -0        nan         nan         nan
TP_ESTADO_CIVIL                21.0635        inf          0        nan         nan         nan
TP_COR_RACA                   -22.1076        inf         -0        nan         nan         nan
TP_NACIONALIDADE                     0        nan        nan        nan         nan         nan
CO_UF_NASCIMENTO              -27.5589        inf         -0        nan         nan         nan
TP_ST_CONCLUSAO               -28.3730        inf         -0        nan         nan         nan
TP_ANO_CONCLUIU                -9.8518        inf         -0        nan         nan         nan
TP_ESCOLA                     -17.1256        inf         -0        nan         nan         nan
IN_TREINEIRO                  -20.5108        inf         -0        nan         nan         nan
IN_BAIXA_VISAO                       0        nan        nan        nan         nan         nan
IN_CEGUEIRA                          0        nan        nan        nan         nan         nan
IN_SURDEZ                            0        nan        nan        nan         nan         nan
IN_DEFICIENCIA_AUDITIVA              0        nan        nan        nan         nan         nan
IN_SURDO_CEGUEIRA                    0        nan        nan        nan         nan         nan
IN_DEFICIENCIA_FISICA                0        nan        nan        nan         nan         nan
IN_DEFICIENCIA_MENTAL                0        nan        nan        nan         nan         nan
IN_DEFICIT_ATENCAO                   0        nan        nan        nan         nan         nan
IN_DISLEXIA                          0        nan        nan        nan         nan         nan
IN_DISCALCULIA                       0        nan        nan        nan         nan         nan
IN_AUTISMO                           0        nan        nan        nan         nan         nan
IN_VISAO_MONOCULAR                   0        nan        nan        nan         nan         nan
IN_OUTRA_DEF                         0        nan        nan        nan         nan         nan
IN_GESTANTE                          0        nan        nan        nan         nan         nan
IN_LACTANTE                          0        nan        nan        nan         nan         nan
IN_IDOSO                             0        nan        nan        nan         nan         nan
IN_ESTUDA_CLASSE_HOSPITALAR          0        nan        nan        nan         nan         nan
IN_SEM_RECURSO                       0        nan        nan        nan         nan         nan
IN_BRAILLE                           0        nan        nan        nan         nan         nan
IN_AMPLIADA_24                       0        nan        nan        nan         nan         nan
IN_AMPLIADA_18                       0        nan        nan        nan         nan         nan
IN_LEDOR                             0        nan        nan        nan         nan         nan
IN_ACESSO                            0        nan        nan        nan         nan         nan
IN_TRANSCRICAO                       0        nan        nan        nan         nan         nan
IN_LIBRAS                            0        nan        nan        nan         nan         nan
IN_TEMPO_ADICIONAL                   0        nan        nan        nan         nan         nan
IN_LEITURA_LABIAL                    0        nan        nan        nan         nan         nan
IN_MESA_CADEIRA_RODAS                0        nan        nan        nan         nan         nan
IN_MESA_CADEIRA_SEPARADA             0        nan        nan        nan         nan         nan
IN_APOIO_PERNA                       0        nan        nan        nan         nan         nan
IN_GUIA_INTERPRETE                   0        nan        nan        nan         nan         nan
IN_COMPUTADOR                        0        nan        nan        nan         nan         nan
IN_CADEIRA_ESPECIAL                  0        nan        nan        nan         nan         nan
IN_CADEIRA_CANHOTO                   0        nan        nan        nan         nan         nan
IN_CADEIRA_ACOLCHOADA                0        nan        nan        nan         nan         nan
IN_PROVA_DEITADO                     0        nan        nan        nan         nan         nan
IN_MOBILIARIO_OBESO                  0        nan        nan        nan         nan         nan
IN_LAMINA_OVERLAY                    0        nan        nan        nan         nan         nan
IN_PROTETOR_AURICULAR                0        nan        nan        nan         nan         nan
IN_MEDIDOR_GLICOSE                   0        nan        nan        nan         nan         nan
IN_MAQUINA_BRAILE                    0        nan        nan        nan         nan         nan
IN_SOROBAN                           0        nan        nan        nan         nan         nan
IN_MARCA_PASSO                       0        nan        nan        nan         nan         nan
IN_SONDA                             0        nan        nan        nan         nan         nan
IN_MEDICAMENTOS                      0        nan        nan        nan         nan         nan
IN_SALA_INDIVIDUAL                   0        nan        nan        nan         nan         nan
IN_SALA_ESPECIAL                     0        nan        nan        nan         nan         nan
IN_SALA_ACOMPANHANTE                 0        nan        nan        nan         nan         nan
IN_MOBILIARIO_ESPECIFICO             0        nan        nan        nan         nan         nan
IN_MATERIAL_ESPECIFICO               0        nan        nan        nan         nan         nan
IN_NOME_SOCIAL                       0        nan        nan        nan         nan         nan
CO_MUNICIPIO_PROVA             -6.0041        inf         -0        nan         nan         nan
CO_UF_PROVA                    -5.7490        inf         -0        nan         nan         nan
TP_PRESENCA_CN                       0        nan        nan        nan         nan         nan
TP_PRESENCA_CH                       0        nan        nan        nan         nan         nan
TP_PRESENCA_LC                       0        nan        nan        nan         nan         nan
TP_PRESENCA_MT                       0        nan        nan        nan         nan         nan
TP_LINGUA                     -27.3567        inf         -0        nan         nan         nan
TP_STATUS_REDACAO                    0        nan        nan        nan         nan         nan
M                              16.4372        inf          0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   3.221
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.533
Skew:                           0.726   Prob(JB):                        0.766
Kurtosis:                       2.848   Cond. No.                         3.04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The input rank is higher than the number of observations.

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1728: RuntimeWarning: divide by zero encountered in true_divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1728: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1650: RuntimeWarning: divide by zero encountered in double_scalars
  return np.dot(wresid, wresid) / self.df_resid
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:1452: RuntimeWarning: invalid value encountered in multiply
  cov_p = self.normalized_cov_params * scale

In [ ]:
print(model2.summary())

In [ ]:
print(model3.summary())

In [ ]:
print(model4.summary())

In [ ]:
print(model5.summary())

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred =  model1.predict(x_test) # predict out of sample
print(y_pred)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred2 =  model2.predict(x_test) # predict out of sample
print(y_pred2)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred3 =  model3.predict(x_test) # predict out of sample
print(y_pred3)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred4 =  model4.predict(x_test) # predict out of sample
print(y_pred4)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred5 =  model5.predict(x_test) # predict out of sample
print(y_pred5)

In [35]:
quests ={ 
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F': 6 
}